:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.heading img {
    height: 4rem;
    margin-bottom: 1rem;
}

.heading h3 {
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
}

.header .flex .logo img {
    height: 4.5rem;
}

.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--black);
}

.home-bg {
    background: linear-gradient(90deg, var(--white), transparent 70%), url(/images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-bg .home {
    min-height: 90rem;
    display: flex;
    align-items: center;
}

.gameplay .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.gameplay .box-container .box {
    text-align: center;
}

.gameplay .box-container .box img {
    height: 19rem;
    margin-bottom: .5rem;
}

.gameplay .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    margin: 1rem 0;
}

.map .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}

.map .box-container .box {
    text-align: center;
}

.map .box-container .box img {
    max-height: 300px;
    width: 100%;
    margin-bottom: 1rem;
}